<app-navbar (curentTheme)="receive($event)"></app-navbar>
<div class="user-details" [ngClass]="{ 'elevated-dark': darkTheme }">
  <div class="user-name">
    <div class="user-img">
      <p class="user-logo">{{ userLogo }}</p>
    </div>
    <h2>{{ newUser.firstName }} {{ newUser.lastName }}</h2>
    <ul>
      <li
        [ngClass]="{ active: detailsOption == 1 }"
        (click)="detailsOption = 1"
      >
        {{ "AccountInfo.Account Info" | translate }}
      </li>
      <li
        [ngClass]="{ active: detailsOption == 2 }"
        (click)="detailsOption = 2"
      >
        {{ "AccountInfo.Address" | translate }}
      </li>
      <li
        [ngClass]="{ active: detailsOption == 3 || detailsOption == 4 }"
        (click)="detailsOption = 3"
      >
        {{ "AccountInfo.My Orders" | translate }}
      </li>
    </ul>
  </div>
  <div class="user-information" *ngIf="detailsOption == 1">
    <div class="user-account-info">
      <h4>
        {{ "AccountInfo.Account Info" | translate }}
        <button
          (click)="enableNameForm()"
          title="edit"
          class="edit-btn"
          [ngClass]="{
            'elevated-dark': darkTheme,
            'edit-btn-light': !darkTheme
          }"
        >
          <span class="material-icons"> mode_edit </span>
        </button>
      </h4>
      <form #nameForm="ngForm">
        <label> {{ "AccountInfo.First Name" | translate }} </label><br />
        <input
          type="text"
          name="firstname"
          [disabled]="accountName"
          [(ngModel)]="user.firstName"
          required
        /><br />
        <label>{{ "AccountInfo.Last Name" | translate }}</label
        ><br />
        <input
          type="text"
          name="lastname"
          [disabled]="accountName"
          [(ngModel)]="user.lastName"
          required
        /><br />
        <label>Email</label><br />
        <input
          type="text"
          name="email"
          [disabled]="accountName"
          [(ngModel)]="user.email"
          required
        /><br />
        <label>{{ "AccountInfo.Username" | translate }}</label
        ><br />
        <input
          type="text"
          name="username"
          [disabled]="accountName"
          [(ngModel)]="user.username"
          required
        /><br />
        <button
          class="submit-details"
          [disabled]="!nameForm.valid || accountName"
          (click)="submitName()"
          [ngClass]="
            accountName
              ? 'submit-details'
              : !nameForm.valid
              ? 'submit-details'
              : 'submit-details-btn'
          "
        >
          {{ "AccountInfo.Submit" | translate }}
        </button>
      </form>
    </div>
    <div class="user-account-password">
      <div>
        <h4>
          {{ "AccountInfo.Change password" | translate }}
          <button
            title="edit"
            class="edit-btn"
            (click)="enablePasswordForm()"
            [ngClass]="{
              'elevated-dark': darkTheme,
              'edit-btn-light': !darkTheme
            }"
          >
            <span class="material-icons"> mode_edit </span>
          </button>
        </h4>
        <label> {{ "AccountInfo.New Password" | translate }} </label><br />
        <div *ngIf="!validPassword" class="validation-text">
          {{ "AccountInfo.Validation" | translate }}
        </div>
        <div>
          <input
            [type]="hide ? 'password' : 'text'"
            type="password"
            name="password"
            [(ngModel)]="newPassword"
            [disabled]="accountPassword"
          /><mat-icon *ngIf="eyeIcon" (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </div>
        <br />
        <label>{{ "AccountInfo.Repeat Password" | translate }} </label><br />
        <input
          [type]="hide ? 'password' : 'text'"
          type="password"
          [(ngModel)]="repeatPassword"
          [disabled]="accountPassword"
        /><br />
        <p class="password-error" *ngIf="!passwordMatch">
          {{ "AccountInfo.InvalidPass" | translate }}
        </p>
        <button
          (click)="submitPassword()"
          [disabled]="accountPassword"
          [ngClass]="accountPassword ? 'submit-details' : 'submit-details-btn'"
        >
          {{ "AccountInfo.Submit" | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="details-address" *ngIf="detailsOption == 2">
    <form #addressForm="ngForm">
      <label for="phone"> {{ "AccountInfo.Phone Number" | translate }} </label
      ><br />
      <input
        type="number"
        name="phone"
        [(ngModel)]="user.telephone"
        [disabled]="accountAddress"
        required
      /><br />
      <label for="address"> {{ "AccountInfo.Address" | translate }} </label
      ><br />
      <input
        type="text"
        name="address"
        [(ngModel)]="user.addressEntity.address"
        [disabled]="accountAddress"
        required
      /><br />
      <label for="city"> {{ "AccountInfo.City" | translate }} </label><br />
      <input
        type="text"
        name="city"
        [(ngModel)]="user.addressEntity.city" 
        [disabled]="accountAddress"
        required
      /><br />
      <label for="county"> {{ "AccountInfo.County" | translate }} </label><br />
      <input
        type="text"
        name="county"
        [(ngModel)]="user.addressEntity.county"
        [disabled]="accountAddress"
        required
      /><br />
      <label for="postal"> {{ "AccountInfo.Postal Code" | translate }} </label
      ><br />
      <input
        type="text"
        name="postal"
        [(ngModel)]="user.addressEntity.postalCode"
        [disabled]="accountAddress"
        required
      /><br />
      <button
        (click)="submitAddress()"
        [disabled]="accountAddress || !addressForm.valid"
        [ngClass]="
          accountAddress
            ? 'submit-details'
            : !addressForm.valid
            ? 'submit-details'
            : 'submit-details-btn'
        "
      >
        {{ "AccountInfo.Submit" | translate }}
      </button>
    </form>
    <button
      title="edit"
      class="edit-btn"
      (click)="enableAddressForm()"
      [ngClass]="{
        'elevated-dark': darkTheme,
        'edit-btn-light': !darkTheme
      }"
    >
      <span class="material-icons"> mode_edit </span>
    </button>
  </div>
  <div *ngIf="detailsOption === 3" class="details-address">
    <app-my-orders
      (sectionEvent)="receiveSectionChangeFromMyOrder($event)"
    ></app-my-orders>
  </div>
  <div *ngIf="detailsOption == 4">
    <app-order-item
      [order]="order"
      (sectionEvent)="receiveSectionChangeFromOrderItem($event)"
    ></app-order-item>
  </div>
  <div
    class="confirm"
    *ngIf="confirm"
    [ngClass]="{
      dark: darkTheme,
      'confirm-light': !darkTheme
    }"
  >
    <mat-icon>check_circle_outline</mat-icon>
    <h2>{{ "AccountInfo.Succes" | translate }}</h2>
  </div>
</div>
