@import "../variables.scss";

.my-button {
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
}

.my-button:hover {
  cursor: pointer;
  border: none;
  @include mat-elevation(3);
}

.my-button:active:focus {
  outline: none;
}

.my-button-primary {
  background-color: $primary;
}

.my-button-primary:disabled {
    background-color: rgba($primary, .5);;
}

.my-button-warning {
    background-color: $warning;
}

.my-button-blue {
    background-color: $social-blue;
}


