@import "~@angular/material/theming";
:host {
  display: block;
  perspective: 600px;
}
.product-light {
  background-color: white;
  color: #000;
}
.product {
  @media only screen and (max-width: 460px) {
    width: 99%;
    margin: 1%;
  }
  width: 200px;
  text-align: center;
  padding-bottom: 1%;
  border-radius: 3px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 2s;
  @include mat-elevation(6);
}
.stockOut {
  background-color: #cecece;
  z-index: 60;
}
.face {
  display: block;
  min-height: 270px;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  backface-visibility: hidden;
}
.front {
  h2 {
    text-align: center;
    height: 3.5rem;
  }
  img {
    width: 95%;
    margin: 5px;
    object-fit: contain;
  }
  .outOfStock {
    color: #fff;
    border: none;
    line-height: 25px;
    padding: 2px 8px;
    display: inline-block;
    background: #808080;
    position: absolute;
    top: 8%;
    left: 46%;
  }
}

.product:focus {
  outline: none;
}

.mat-icon {
  font-size: 1.7rem;
  padding: 10px;
  position: absolute;
}

.favorite {
  left: 0;
  top: 0;
  color: #e3242b;
}

.cart {
  top: 0;
  left: 35px;
  color: #8bcf4c;
}

.container-relative{
  position: relative;
}
