<!-- <div
  [ngClass]="{
    'elevated-dark': darkTheme,
    'product-light': !darkTheme,
    stockOut: product.itemsInStock <= 0
  }"
  *ngIf="product"
  [routerLink]="['/products/', product.id]"
  class="product"
> -->
<div
  [ngClass]="{
    'elevated-dark': darkTheme,
    'product-light': !darkTheme,
    stockOut: product.itemsInStock <= 0
  }"
  *ngIf="product"
  (click)="goToDetails()"
  class="product"
>
  <div class="face front">
    <div class="outOfStock" *ngIf="product.itemsInStock <= 0">
      {{ "ProductItem.Out of stock" | translate }}
    </div>
      <img src="{{ product.image }}" alt="" id='img' />
      <mat-icon *ngIf='!isFavorite' (click)="toggleFavorite($event)" class='favorite'>favorite_border</mat-icon>
      <mat-icon *ngIf='isFavorite' (click)="toggleFavorite($event)" class='favorite'>favorite</mat-icon>
      <mat-icon *ngIf="product.itemsInStock>0" class='cart' (click)="addToCart($event)">shopping_cart</mat-icon>
    <h2 *ngIf="product.name" (click)="transmit()" id='clickable'>{{ product.name.substring(0, 30) | titlecase }}</h2>
    <star-rating
      [value]="product.rating"
      [totalstars]="5"
      [readonly]="true"
      checkedcolor="#ffd700"
      uncheckedcolor="#dcdcdc"
      size="24px"
    ></star-rating>
    <p>{{ product.price }} lei</p>
  </div>
  
</div>
