.product-list {
  @media only screen and (max-width: 575px) {
    justify-content: center;
    width: 100%;
    @media only screen and (max-width: 460px) {
      .child {
        width: 98%;
      }
    }
  }
  display: flex;
  flex-wrap: wrap;
  font-size: 1.1 em;
  justify-content: space-between;
  align-items: stretch;
  margin: auto;
  width: 90%;
  .child {
    cursor: pointer;
    margin: 10px;
  }
}

.recommended {
  margin: auto;
}
.product-light {
  background-color: white;
  color: #000;
}

i {
  width: 200px;
  margin: 16px;
}

label {
  margin-right: 3px;
}

.pageSize {
  cursor: pointer;
}

.page-controls {
  text-align: center;
  margin-bottom: 10px;
}

.page-controls > button {
  background-color: transparent;
  border: none;
  color: #0000ff;
}

.page-controls > button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page-controls > button:active {
  color: red;
}

.page-controls > span {
  color: #0000ff;
}

.footer {
  height: 10px;
}
.sort-container {
  @media only screen and (max-width: 575px) {
    flex-direction: column;
    text-align: center;
    margin: 180px auto 20px;
    .sort-item {
      margin-bottom: 3%;
    }
  }
  .sort-item {
    margin-left: 16px;
  }
  display: flex;
  width: 80%;
  margin: 130px auto 20px;
  font-size: 1.1rem;
}
.sort-item {
  margin-left: 16px;
  select {
    font-size: 1.1rem;
    min-width: 4.5rem;
  }
  display: inline-block;
}
.sort-button {
  display: inline-block;
  margin-left: 2rem;
  min-width: 8rem;
}
.mat-icon {
  vertical-align: middle;
  margin-right: 0.2rem;
}
.gray {
  color: #808080;
}
