<app-navbar (curentTheme)="receive($event)"></app-navbar>
<div *ngIf="products.length != 0" class="main">
  <div class="container mat-elevation-z2">
    <div
      class="mat-elevation-z3 flex list"
      [ngClass]="{ current: section === 1, 'elevated-dark': darkTheme }"
      (click)="section = 1"
    >
      <h2>{{ "Order.Order review" | translate }}</h2>
      <div *ngFor="let product of products" class="space-between">
        <div class="image-detail">
          <img src="{{ product.image }}" alt="" />
          <p>{{ product.name.slice(0, 40) | titlecase }}</p>
        </div>
        <div>
          <span class="price">
            {{ product.qty }} {{ "Order.piece" | translate }}
          </span>
          <span class="price">
            {{ (product.price * product.qty).toFixed(2) }} lei
          </span>
        </div>
      </div>
      <div></div>
      <div class="actions distance-top">
        <mat-icon></mat-icon>
        <button [routerLink]="'/cart'">{{ "Order.Modify" | translate }}</button>
        <mat-icon
          (click)="changeSection(2, $event)"
          [style.visibility]="section == 1 ? 'visible' : 'hidden'"
          >forward</mat-icon
        >
      </div>
    </div>
    <div
      class="mat-elevation-z3 flex"
      [ngClass]="{ current: section === 2, 'elevated-dark': darkTheme }"
      (click)="section = 2"
    >
      <h2>{{ "Order.Shipping and billing" | translate }}</h2>
      <div class="flex-container">
        <div>
          <div class="price">{{ "Order.Name" | translate }}</div>
          <div class="price">
            {{ "Order.Shipping address" | translate }}
          </div>
          <div class="price">{{ "Order.Contact phone" | translate }}</div>
        </div>
        <div>
          <div>{{ user.firstName }} {{ user.lastName }}</div>
          <div *ngIf="user.addressEntity != null">
            {{ user.addressEntity.address }}, {{ user.addressEntity.city }}
          </div>
          <div *ngIf="user.addressEntity == null">-</div>
          <div>{{ user.telephone }}</div>
        </div>
      </div>
      <div class="actions">
        <mat-icon
          class="reverse"
          (click)="changeSection(1, $event)"
          [style.display]="section == 2 ? 'block' : 'none'"
          >forward</mat-icon
        >
        <button [routerLink]="'/account/details'">
          {{ "Order.Modify" | translate }}
        </button>
        <mat-icon
          (click)="changeSection(3, $event)"
          [style.display]="section == 2 ? 'block' : 'none'"
          >forward</mat-icon
        >
      </div>
    </div>
    <div
      class="mat-elevation-z3 flex"
      [ngClass]="{ current: section === 3, 'elevated-dark': darkTheme }"
      (click)="section = 3"
    >
      <h2>{{ "Order.Confirm order" | translate }}</h2>
      <div class="space-between">
        <span class="price distance">{{ "Order.Products" | translate }} </span>
        <p>{{ orderValue.toFixed(2) }} lei</p>
      </div>
      <div class="space-between">
        <span class="price distance">{{ "Order.Shipping" | translate }} </span
        ><span>
          {{
            transportFee === 0
              ? ("Cart.Free" | translate)
              : transportFee + " lei"
          }}
        </span>
      </div>
      <h2></h2>
      <div class="space-between">
        <span class="price distance bigger">
          {{ "Order.Total value" | translate }}</span
        ><span class="bigger">{{ orderValue.toFixed(2) }} lei</span>
      </div>
      <p class="payment-methode-title">
        {{ "Order.Currency" | translate }}
      </p>
      <div class="currency-container">
        <span class="currency" *ngFor="let currency of currencies">
          <input
            input
            type="radio"
            id="{{ currency }}"
            name="currency"
            value="{{ currency }}"
            (click)="hidePaypal(currency)"
            [checked]="currency === 'EUR' ? true : false"
          />
          <label for="{{ currency }}">{{ currency }}</label>
        </span>
      </div>
      <h3 class="payment-methode-title">
        {{ "Order.Payment methode" | translate }}
      </h3>
      <div class="actions">
        <mat-icon
          class="reverse"
          (click)="changeSection(2, $event)"
          [style.visibility]="section == 3 ? 'visible' : 'hidden'"
          >forward</mat-icon
        >
        <button (click)="placeOrder()">
          {{ "Order.Send Order" | translate }}
        </button>
        <mat-icon></mat-icon>
        <button (click)="payPall()" class="paypal" *ngIf="!isHidden"></button>
      </div>
    </div>
  </div>
  <div
    class="confirm green"
    [ngClass]="darkTheme ? 'dark' : 'confirm-light'"
    *ngIf="confirm == true && address"
  >
    <mat-icon>check_circle_outline</mat-icon>
    <h3>{{ "Order.Succes Order" | translate }}</h3>
    <h2>{{ "Order.Thank you" | translate }}</h2>
  </div>
  <div
    class="confirm red"
    [ngClass]="darkTheme ? 'dark' : 'confirm-light'"
    *ngIf="confirm == true && !address"
  >
    <mat-icon>cancel</mat-icon>
    <h3>{{ "Order.noAddress" | translate }}</h3>
    <h2>{{ "Order.register" | translate }}</h2>
  </div>
  <div
    class="confirm red out-of-stock"
    [ngClass]="darkTheme ? 'dark' : 'confirm-light'"
    *ngIf="outOfStock == true"
  >
    <mat-icon>cancel</mat-icon>
    <h3 style="color: #ff0000" *ngIf="haveStock">{{ outOfStockMsg }}</h3>
    <h3 style="color: #ff0000" *ngIf="!haveStock">
      {{ "Order.This product:" | translate }}
      <span style="color: #ffa500">"{{ productName }}"</span>
      {{ "Order.no longer" | translate }}
    </h3>
    <h3>{{ "Order.adjust" | translate }}</h3>
    <h3>{{ "Order.continue" | translate }}</h3>
    <div class="buttons">
      <button (click)="noContinue()">{{ "Order.no" | translate }}</button>
      <button (click)="placeOrder()">{{ "Order.yes" | translate }}</button>
    </div>
  </div>
</div>

<div class="main container" *ngIf="products.length == 0">
  {{ "Order.Empty cart" | translate }}
</div>
