
<div>
<app-navbar></app-navbar>
<p-toast></p-toast>
<div class="card"  >
    <p-toolbar styleClass="">
        <ng-template pTemplate="left">
            <button pButton icon="fa fa-trash" class="p-button-danger" (click)="deleteSelectedRequest()" [disabled]="!selectedRequests || !selectedRequests.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="requestsMutated" [rows]="10" [paginator]="true" [globalFilterFields]="['bikeName','issue','date','status', 'user']"
          [rowHover]="true" dataKey="id" [(selection)]="selectedRequests" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <h1 class="p-m-0">Manage Requests</h1>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"(input)="applyFilterGlobal($event, 'contains')" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th pSortableColumn="user" field="user" appHighlightOnClick>User <p-sortIcon ></p-sortIcon></th>
                <th pSortableColumn="bikeName" field="bikeName" appHighlightOnClick>Bike <p-sortIcon ></p-sortIcon></th>
                <th pSortableColumn="issue" field="issue" appHighlightOnClick>Issue <p-sortIcon ></p-sortIcon></th>
                <th pSortableColumn="date" field="date" appHighlightOnClick>Date <p-sortIcon></p-sortIcon></th>
                <th pSortableColumn="status" field="status" appHighlightOnClick>Status <p-sortIcon></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-req>
            <tr [pSelectableRow]="req">
                <td>
                    <p-tableCheckbox [value]="req"></p-tableCheckbox>
                </td>
                <td>{{req.user.firstName}} {{req.user.lastName}}</td>
                <td>{{req.bikeName}}</td>
                <td>{{req.issue }}</td>
                <td>{{req.date | date }}</td>
                <td>{{req.status}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editInvoice(req)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteRequest(req)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                You have {{requests.length}} requests.
            </div>
        </ng-template>
    </p-table>
</div>
<p-dialog [(visible)]="requestDialog" [style]="{width: '600px'}" header="Request Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
    <form [formGroup]='invoiceForm'>   
        <div class="p-field p-grid" >
            <div class='p-col-1 p-m-1 p-mt-3'><label>Status:</label></div>
            <div class='p-col' > 
                <p-dropdown [options]="statusOptions" formControlName='status' [showClear]="true" [filter]='true' filterBy="value" [virtualScroll]="true" placeholder="choose" optionLabel="label" optionValue="value" appendTo="body" >
                    <ng-template let-option pTemplate="item">
                        <span>{{option.label}}</span>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
       <div class="p-field p-grid" >
            <div class='p-col-1 p-m-1'><label>Price:</label></div>
            <div class='p-col'><p-inputNumber [useGrouping]="false" formControlName='price'></p-inputNumber></div>
        </div>
    </form>
    </ng-template>
    
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveInvoice()" [disabled]="invoiceForm.invalid" ></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</div>
