.a-light {
  color: black;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  max-width: 100%;
  display: flex;
  margin-top: 90px;
}
.calculation {
  height: fit-content;
  margin: 3rem 3rem 3rem 1.5rem;
  padding: 2rem;
  position: fixed;
  left: 70%;
  min-width: 20%;
}
.calculation-body {
  display: flex;
  justify-content: space-between;
}
.line {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(211, 208, 208);
}
.margin2 {
  margin-top: 2rem;
}
.order-summary {
  max-width: 60%;
  height: fit-content;
  margin: 3rem 1.5rem 3rem 3rem;
  padding: 2rem;
}
.empty-cart-container {
  max-width: 100%;
  display: flex;
  margin-top: 90px;
  flex-direction: column;
}
.empty {
  width: 80%;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
}
.order-button,
.back-button {
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
  width: 90%;
  background-color: #56c465;
  min-height: 2.5rem;
  max-height: fit-content;
  border: 1px solid #56c465;
  border-radius: 4px;
  font-size: 1.2rem;
  color: white;
  box-shadow: inset 1px 6px 12px #90ee90, inset -1px -4px 5px #006400,
    1px 2px 1px black;
  text-shadow: 1px 1px 1px black;
}
.back-button {
  background-color: #3540e0;
  border: 1px solid #3540e0;
  box-shadow: inset 1px 6px 12px #add8e6, inset -1px -4px 5px #00008b,
    1px 2px 1px black;
}
.order-button:hover {
  cursor: pointer;
  border: 2px solid #56c465;
}
.back-button:hover {
  cursor: pointer;
  border: 2px solid #464fce;
}
.order-button:active:focus {
  outline: 1px solid #56c465;
}
.back-button:active:focus {
  outline: 1px solid #3540e0;
}
.product,
.poduct-wraper {
  display: flex;
}
.product-image {
  max-width: 4rem;
  max-height: 4rem;
  padding: 1rem;
}
.product-section {
  padding: 1rem;
  display: flex;
  flex-grow: 3;
}
.product-name {
  flex-grow: 2;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0;
  }
  .limitedStock {
    color: #ff0000;
  }
  .someStock {
    color: #ffa500;
  }
  .goodStock {
    color: #008000;
  }
}
.product-data {
  padding-left: 2rem;
  min-width: 7rem;
}
.quantity-buttons-light {
  background-color: white;
}
.quantity-buttons {
  border: none;
  vertical-align: middle;
  font-size: 1.6rem;
}
.quantity-buttons:hover {
  cursor: pointer;
}
.trash {
  font-size: 1.2rem;
  display: inline;
}
.pointer:hover {
  cursor: pointer;
}
mat-icon {
  vertical-align: middle;
}
.larger {
  font-size: 1.4rem;
  //vertical-align: middle;
  padding-top: 15px;
}
@media only screen and (max-width: 1024px) {
  h2 {
    font: 500 15px/32px Roboto, "Helvetica Neue", sans-serif;
  }
  .order-summary {
    margin: 3rem 1rem 3rem 2rem;
  }
  .calculation {
    margin: 3rem 2rem 3rem 1rem;
  }
  .container {
    width: 960px;
    margin-top: 130px;
  }
  .product-name {
    min-width: 50%;
  }
}
@media only screen and (max-width: 992px) {
  .calculation {
    position: relative;
  }
  .calculation,
  .empty,
  .order-summary {
    max-width: 95vmin;
    min-width: 95%;
    margin: 1rem;
    left: auto;
    align-self: center;
  }
  .container {
    flex-direction: column;
    max-width: 90vw;
    min-width: 100%;
    margin: auto;
    margin-top: 130px;
  }
}
.outOfStock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  color: #fff;
  border: none;
  line-height: 25px;
  background: #808080;
  border-radius: 5px;
  padding: 0 3px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .product {
    max-width: 70vmin;
    min-width: 60vmin;
  }
  .product-line {
    margin: auto;
  }
  .product-section {
    min-width: 90%;
  }
  .poduct-wraper {
    flex-direction: column;
    min-width: fit-content;
  }
  .product-data {
    margin-bottom: 10px;
  }
  .pointer {
    display: flex;
    font-size: 12px;
    max-width: 90%;
    align-items: center;
  }
}

button {
  width: 90%;
  margin: 10px auto;
}

.quantity {
  display: flex;
}

