<div
  class="container mat-elevation-z2"
  [ngClass]="{ 'elevated-dark': darkTheme }"
>
  <img src="../../../assets/eStore.png" alt="logo" routerLink="/" />
  <h2>{{ "Login.Authentication" | translate }}</h2>
  <div
    [ngClass]="{ 'elevated-dark': darkTheme, 'light-container': !darkTheme }"
  >
    <form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group inputs">
        <input
          matInput
          type="text"
          [(ngModel)]="valueUser"
          formControlName="username"
          [ngClass]="{
            'is-invalid': submitted && formControls.username.errors,
            'elevated-dark': darkTheme
          }"
          placeholder="{{ 'Login.Username' | translate }}"
        />
        <button
          mat-button
          *ngIf="valueUser"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="valueUser = ''; valuePass = ''"
          class="non-button"
          [ngClass]="{
            'elevated-dark': darkTheme,
            'mat-icon': !darkTheme
          }"
        >
          <mat-icon>close</mat-icon>
        </button>

        <div
          *ngIf="submitted && formControls.username.errors"
          class="invalid-feedback"
        >
          <div *ngIf="formControls.username.errors.required">
            {{ "Login.UsernameRequired" | translate }}
          </div>
        </div>
      </div>
      <span class="spacer"></span>
      <div
        *ngIf="
          formControls.password.errors && formControls.password.errors.pattern
        "
        style="color: #ff0000"
      >
        {{ "Login.PasswordLength" | translate }} <br />
        {{ "Login.Case" | translate }}<br />
        {{ "Login.Number" | translate }}
      </div>
      <div class="form-group inputs">
        <input
          matInput
          [(ngModel)]="valuePass"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          [ngClass]="{
            'is-invalid': submitted && formControls.password.errors,
            'elevated-dark': darkTheme
          }"
          placeholder="{{ 'Login.Password' | translate }}"
          title="Password must contain: one uppercase letter, one number,
           one special character and be at lest 8 characters long."
        />
        <mat-icon (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
        <div
          *ngIf="submitted && formControls.password.errors"
          class="invalid-feedback"
        >
          <div *ngIf="formControls.password.errors.required">
            {{ "Login.PasswordRequired" | translate }}
          </div>
        </div>
      </div>
      <div *ngIf="errorFromServer" class="invalid-feedback">
        {{ serverMessage }}
      </div>
      <span class="spacer"></span>
      <p>
        <span style="color: #ff0000">*</span>{{ "Login.Fields" | translate }}
      </p>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary buttons">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          {{ "Login.Login" | translate }}
        </button>
        <h4>{{ "Login.Connect" | translate }}</h4>
      </div>
    </form>
    <div class="social">
      <button class="fb" id='fb' (click)="signInWithFB()">
        <mat-icon [ngStyle]="{ color: 'white' }">facebook</mat-icon>
        {{ "Login.Continue" | translate }} Facebook
      </button>
      <button mat-button class="fb" id='google' (click)="signInWithGoogle()">
        <mat-icon svgIcon="logo"></mat-icon>
        {{ "Login.Continue" | translate }} Google
      </button>
    </div>
    <h4>{{ "Login.Or" | translate }}</h4>
    <button routerLink="../register" class="btn btn-link buttons">
      {{ "Login.Create" | translate }}
    </button>
    <p class="forgot" (click)="email = !email">
      {{ "Login.Forgot" | translate }}
      <span *ngIf="email">▲</span>
      <span *ngIf="!email">▼</span>
    </p>
    <form [formGroup]="emailForm" *ngIf="email">
      <p>{{ "Login.Fill" | translate }}</p>
      <div class="form-group inputs forgot-section">
        <input
          type="text"
          placeholder="{{ 'Login.Email' | translate }}"
          formControlName="email"
          (keyup)="removeDoesntExist()"
          [ngClass]="{ 'elevated-dark': darkTheme }"
        />
        <button
          class="send-email"
          (click)="sendEmail()"
          [disabled]="!emailForm.valid"
          [ngClass]="{ 'send-email-disabled': !emailForm.valid }"
        >
          {{ "Login.Send" | translate }}
        </button>
      </div>
      <div
        *ngIf="
          emailForm.controls.email.errors?.email &&
          !emailForm.controls.email.pristine
        "
        class="invalid-feedback"
      >
        {{ "Login.EmailInvalid" | translate }}
      </div>
      <span class="spacer"></span>
    </form>
    <p *ngIf="sent" class="forgot">
      {{ "Login.CheckInbox" | translate }}
    </p>
    <p *ngIf="!exist" class="invalid-feedback">
      {{ "Login.DoesntExist" | translate }}
    </p>
    <div
      class="confirm"
      *ngIf="popup"
      [ngClass]="{ dark: darkTheme, 'confirm-light': !darkTheme }"
    >
      <h3 class="confirm-header">{{ serverMessage }}</h3>
    </div>
  </div>
</div>
