@import "~@angular/material/theming";
.container-light {
  background: white;
}
.container {
  padding: 2%;
  max-width: 55%;
  min-width: fit-content;
  border-radius: 15px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  position: absolute;
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
  h2 {
    border-bottom: 1px solid #979292;
    padding: 0 3rem 1rem 3rem;
    margin-bottom: 2rem;
  }
  img {
    width: 7rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  input {
    height: 2rem;
    outline: none;
    border: none;
    min-width: 87%;
    max-width: 89%;
    border-radius: 5px 0 0 5px;
    padding: 0;
    margin: 0;
    padding-left: 5px;
  }
  .buttons {
    min-width: 60vmin;
    min-height: 2rem;
    align-self: center;
    margin: 10px auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  input::-webkit-input-placeholder {
    color: #817e7e;
  }
  .inputs:focus-within {
    @include mat-elevation(2);
  }
  .spacer {
    margin: 1rem;
  }
  .forgot {
    padding: 0.5rem;
    text-align: right;
  }
  .forgot:hover {
    cursor: pointer;
  }
  .forgot:active {
    outline: none;
  }

  .send-email-btn {
    min-width: 65px;
    min-height: 2.1rem;
    align-self: flex-end;
    margin: 0;
    padding: 0;
  }

  .forgot-section {
    display: flex;
    flex-direction: row;
  }

  mat-icon {
    vertical-align: middle;
    align-self: center;
    color: #817e7e;
    padding: 0 2%;
    cursor: pointer;
  }
  h4 {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
  }
  h4:before,
  h4:after {
    content: " ";
    flex: 1 1;
    border-bottom: 1px solid #979292;
    margin: auto 1rem;
  }
  .invalid-feedback {
    color: #ff0000;
  }
  .confirm-light {
    background-color: #ffffff;
  }
  .confirm {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 3rem;
    min-width: 40%;
    text-align: center;
    border-radius: 2%;
    border: 2px solid #e02525;
    width: 100%;
    height: 50%;
    .confirm-header {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.mat-typography,
body {
  margin: 5% auto;
  max-height: 90%;
}

.mat-icon {
  font-size: 1.6rem;
  vertical-align: middle;
  fill: white;
}
.social {
  display: flex;
  flex-direction: column;
}

.social-icon {
  margin: 0 10px;
}

.google {
  width: 40px;
  margin: 0;
}

#google {
  margin-top: 20px;
}
