.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
  margin: 0;
  overflow: hidden;
}
// .body {
//   background-color: rgb(250, 251, 252);
// }
.navbar {
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;

  h3 {
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 20px;
    padding-bottom: 5px;
  }

  img {
    width: 200px;
    object-fit: contain;
    height: 60px;
  }
  img:focus {
    outline: none;
  }
  .search {
    display: flex;
    align-items: center;
    border: 1.5px solid #ac7aff;
    border-radius: 10px;
    width: 50%;
    margin-right: 20px;
    input {
      width: 95%;
      height: 25px;
      border: 0;
      outline: 0;
      margin-left: 5px;
    }
    input:focus {
      outline: none;
    }
    .search-icon {
      margin-right: 5px;
    }
  }

  .nav-options {
    display: flex;
    margin-right: 20px;
    align-items: center;
    height: 100%;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: #3b383d;
    }
  }
}
.horizontal {
  width: 100%;
  height: 20px;

  background-image: linear-gradient(
    to right,
    #5fd4d2 30%,
    #e65353 40%,
    #4cb5cf 60%,
    #ffc663,
    #56c465 80%,
    #634fbd
  );
}
.horizontal1 {
  width: 100%;
  height: 7px;
  background-image: linear-gradient(
    to right,
    #07360f,
    #19b3ad,
    #50cc08,
    #1c1f1b
  );
}
.horizontal2 {
  width: 100%;
  height: 7px;
  background-image: linear-gradient(
    to right,
    #180dd9,
    #8b89ab,
    #61095b,
    #1a4741
  );
}
.outlet {
  margin-top: 90px;
}
