@import "~@angular/material/theming";

.container-comms {
  margin: 40px 3%;

  h2 {
    align-items: flex-start;
  }

  .comment {
    @include mat-elevation(6);
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 10px;

    .user {
      width: calc(100% / 5 * 1);
      text-align: center;
    }

    .body {
      width: calc(100% / 5 * 4);
      border-left: 1px solid lightgray;
      padding-left: 10px;
    }
  }

  .comment-form {
    margin: 30px;
  }
}

.thumb {
  margin: 0 10px;
}

.colored {
  color: #4cb5cf;
}

.grayed {
  color: lightgray;
}

.container-qanda {
  position: relative;
  padding: 20px 40px;
  margin: 40px 3%;
}

textarea {
  border: none;
  @include mat-elevation(6);
}

button {
  margin-top: 10px;
  background-color: #634fbd;
  padding: 10px;
  border: none;
  color: white;
  font-size: 18x;
  border-radius: 5px;
}

button:disabled {
  background-color: #634fbd6e;
}

.mat-expansion-panel-header {
  padding: 20px;
}

.title {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: 12px;
}

.reply {
  background-color: #4cb5cf23;
  margin: 0 0 10px 20%;
  display: flex;
  padding: 10px 0 10px 20px;
  border-radius: 5px;

  p {
    margin-bottom: 2px;
  }

  .reply-name {
    width: 10%;
    border-right: 1px solid lightgray;
  }

  .reply-text {
    margin-left: 20px;
    display: flex;
    width: 80%;
    div:first-child {
      flex-grow: 9;
    }
    div:nth-child(2) {
      flex-grow: 1;
    }
  }
}

.spacer {
  margin-bottom: 30px;
}

.mat-panel-description {
  align-content: flex-start;
}

.message {
  position: relative;
  bottom: 50px;
  right: 10px;
  max-width: 700px;
  background-color: #03c04cbd;
  font-size: 20px;
  padding: 30px 20px;
  border-radius: 3%;

  .mat-icon {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}

.mat-expansion-panel-header-title {
  max-width: 20%;
  border-right: 1px solid lightgray;
}
