.user-details {
  @media only screen and (max-width: 500px) {
    border-left: none;
    border-right: none;
    min-width: 100%;
    overflow: scroll;
    font-size: 1.1rem;
    .user-name {
      max-width: fit-content;
      padding: 0.5rem;
    }
  }
  margin-top: 150px;
  min-width: fit-content;
  max-width: 80vw;
  min-height: 50%;
  max-height: 80%;
  overflow: auto;
  display: flex;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to right,
    #5fd4d2,
    #e65353,
    #4cb5cf,
    #ffc663,
    #56c465,
    #634fbd
  );
  border-radius: 8px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
  left: 50%;
  top: 62%;
  transform: translate(-50%, -20%);
  h4 {
    font-weight: 500;
  }
  .menu{
    font-size: 1rem;
    li{
      padding: 3px;
    }
  }
  .user-name {
    border-right: 1px solid black;
    text-align: center;
    width: 200px;
    position: sticky;
    top: 0;
    h2 {
      margin-top: 30px;
    }
    ul {
      list-style-type: none;
      padding-left: 0;
      li {
        cursor: pointer;
      }
      li:hover {
        background-color: #e0d7bc;
      }
    }
    .user-img {
      width: 80px;
      height: 80px;
      background-color: #634fbd;
      text-align: center;
      border-radius: 50%;
      margin: 0 auto;

      .user-logo {
        color: white;
        font-size: 40px;
        margin: auto;
        padding-top: 30px;
      }
    }
  }
  .user-information {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    h2{
      text-align: center
    }
    @media only screen and (max-width: 850px) {
      flex-direction: column;
      align-items: center;
      input {
        max-width: 95%;
      }
    }
    .user-account-info {
      @media only screen and (max-width: 850px) {
        border: none;
        margin-bottom: 12%;
        align-items: center;
        width: fit-content;
      };
    }
  }
}
.details-address {
  display: flex;
  justify-content: center;
  width: 60%;
  padding-left: 3%;
}
.edit-btn-light {
  background-color: white;
}
.edit-btn {
  border: none;
  height: 30px;
  cursor: pointer;
}
mat-icon {
  vertical-align: middle;
  color: #817e7e;
  padding: 0 0.6rem;
  cursor: pointer;
}

.active {
  background-image: linear-gradient(to left, #5fd4d2, #634fbda6 50%);
  color: white;
}

.submit-btn {
    background-image: linear-gradient(to right, #5fd4d2, #634fbd 40%);
    color: white;
    min-width: 7rem;
    min-height: 2rem;
    border-radius: 3%;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.submit-btn:disabled{
  background-image: linear-gradient(to right, #5fd4d2d0, #634fbda4 40%);
  cursor: not-allowed;
}


.confirm-light {
  background-color: #ffffff;
}
.confirm {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 3rem;
  min-width: 40%;
  text-align: center;
  border-radius: 2%;
  border: 2px solid #56c465;
  .mat-icon {
    font-size: 3rem;
    color: #56c465;
    margin: 0 5px 30px 0;
  }
}
input{
  font-size: 1rem;
  border: 1px gray solid;
  border-radius: 3%;
  padding: 2px;
}
input.invalid:focus{
  outline: 1px red solid;
  border: 1px red solid
}
.invalid{
  border: 1px red solid;
}
label {
  display: block;
  text-align: left;
  margin-bottom: 2px;
}
.input-label-group{
  margin-bottom: 8px;
}
.btn-container{
  justify-content: center;
  display: flex;
  margin: 1rem;
}
.error{
  margin-top: 5px;
  color: red;
}