<app-navbar (curentTheme)="receive($event)"></app-navbar>
<div class="user-details" [ngClass]="{ 'elevated-dark': darkTheme }">
  <div class="user-name">
    <div class="user-img">
      <p class="user-logo">{{ userLogo }}</p>
    </div>
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <ul class='menu'>
      <li [ngClass]="{ active: detailsOption == DetailsOption.Account }"
        (click)="detailsOption = 1">
        {{ "AccountInfo.Account Info" | translate }}
      </li>
      <li [ngClass]="{ active: detailsOption == DetailsOption.Address}"
        (click)="detailsOption = DetailsOption.Address">
        {{ "AccountInfo.Address" | translate }}
      </li>
      <li [ngClass]="{ active: detailsOption == DetailsOption.AddDetails }"
        (click)="detailsOption = 5">
        {{ "Additional details" | translate }}
      </li>
      <li [ngClass]="{ active: detailsOption == DetailsOption.Orders || detailsOption == DetailsOption.OrderItem}"
        (click)="detailsOption = DetailsOption.Orders" >
        {{ "AccountInfo.My Orders" | translate }}
      </li>
    </ul>
  </div>
  <div class="user-information" *ngIf="detailsOption == DetailsOption.Account">
    <div class="user-account-info">
      <h2>
        {{ "AccountInfo.Account Info" | translate }}
      </h2>
      <form [formGroup]="accountForm">
        <div class="input-label-group">
          <label for="firstName" class="input-label"> {{ "AccountInfo.First Name" | translate }}* </label>
          <input
            type="text"
            id="firstName"
            formControlName='firstName'
            placeholder="First name"
            [class.invalid-input]="accountForm.controls.firstName.invalid && accountForm.controls.firstName.touched"
            class="my-text-input"
          />
        </div>
        <div class="input-label-group">
          <label for="lastName" class="input-label">{{ "AccountInfo.Last Name" | translate }}*</label>
          <input
            type="text"
            id="lastName"
            placeholder="Last name"
            formControlName="lastName"
            [class.invalid-input]="accountForm.controls.lastName.invalid && accountForm.controls.lastName.touched"
            class="my-text-input"
          />
        </div>
        <div class="input-label-group">
          <label for="username" class="input-label">{{ "AccountInfo.Username" | translate }}*</label>
          <input
            type="text"
            id="username"
            formControlName="username"
            placeholder="Username"
            (keyup)='checkUsername()'
            [class.invalid-input]="accountForm.controls.username.invalid && accountForm.controls.username.touched || usernameExists"
            class="my-text-input"
          />
          <p *ngIf="usernameExists" class='error-input'> 
            Username taken 
          </p>
          <p *ngIf="accountForm.controls.username.hasError('invalidAsync')" class='error-input'> 
            Username taken async validator 
            
          </p>
          <p>
            {{accountForm.controls.errors | json}}
          </p>
        </div>
        <div class="input-label-group">
          <label for="phone" class="input-label"> {{ "AccountInfo.Phone Number" | translate }}* </label>
          <input
            type="tel"
            id="phone"
            placeholder="Telephone"
            formControlName="telephone"
            [class.invalid-input]="accountForm.controls.telephone.invalid && accountForm.controls.telephone.touched "
            class="my-text-input"
          />
          <p *ngIf="accountForm.controls.telephone.hasError('minlength')" class='error-input'> 
             Telephone number apears to be too short 
          </p>
        </div>
        <div *ngIf="accountForm">
          <p *ngIf="accountForm.controls.telephone.hasError('required') 
            || accountForm.controls.firstName.hasError('required')
            || accountForm.controls.lastName.hasError('required')
            || accountForm.controls.username.hasError('required')
            " class='error-form'> 
            *All fields are required
          </p>
        </div>
        <div class="btn-container">
          <button
            class="my-button my-button-primary"
            [disabled]="!accountForm.valid || usernameExists"
            (click)="submit(accountForm)"
          >
            {{ "AccountInfo.Submit" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="user-information" *ngIf="detailsOption == 2">
    <div class="user-account-info">
      <h2>
        Address
      </h2>
      <form [formGroup]='addressForm'>
        <div class="input-label-group">
          <label for="address" class="input-label"> {{ "AccountInfo.Address" | translate }}* </label>
          <input
            type="text"
            id="address"
            placeholder="Address"
            formControlName="address"
            [class.invalid-input]="addressForm.controls.address.invalid && addressForm.controls.address.dirty "
            class="my-text-input"
          />
        </div>
        <div class="input-label-group">
          <label for="city"  class="input-label"> {{ "AccountInfo.City" | translate }}* </label>
          <input
            type="text"
            id="city"
            placeholder="City"
            formControlName="city"
            [class.invalid-input]="addressForm.controls.city.invalid && addressForm.controls.city.touched "
            class="my-text-input"
          />
        </div>
        <div class="input-label-group">
          <label for="county" class="input-label"> {{ "AccountInfo.County" | translate }}* </label>
          <input
            type="text"
            id="county"
            placeholder="County"
            formControlName="county"
            [class.invalid-input]="addressForm.controls.county.invalid && addressForm.controls.county.touched "
            class="my-text-input"
          /><br />
        </div>
        <div class="input-label-group">
          <label for="postalCode" class="input-label"> {{ "AccountInfo.Postal Code" | translate }}* </label>
          <input
            type="text"
            id="postalCode"
            placeholder="Postal code"
            formControlName="postalCode"
            [class.invalid-input]="addressForm.controls.postalCode.invalid && addressForm.controls.postalCode.touched "
            class="my-text-input"
          />
        </div>
        <div *ngIf='addressForm'>
          <p *ngIf="addressForm.controls.address.hasError('required') 
              || addressForm.controls.city.hasError('required')
              || addressForm.controls.county.hasError('required')
              || addressForm.controls.postalCode.hasError('required')
              " class='error-form'> 
              *All fields are required
            </p>
        </div>
        <div class="btn-container">
          <button
            class='my-button my-button-primary'
            (click)="submit(addressForm)"
            [disabled]="!addressForm.valid"
          >
            {{ "AccountInfo.Submit" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="detailsOption === 3" class="details-address">
    <app-my-orders
      (sectionEvent)="receiveSectionChangeFromMyOrder($event)"
    ></app-my-orders>
  </div>
  <div *ngIf="detailsOption == DetailsOption.OrderItem">
    <app-order-item
      [order]="order"
      (sectionEvent)="receiveSectionChangeFromOrderItem($event)"
    ></app-order-item>
  </div>
  <div class="user-information" *ngIf="detailsOption == DetailsOption.AddDetails">
    <div class="user-account-info">
      <h2>
        Additional details
      </h2>
      <form [formGroup]='additionalDetailsForm'>
        <div class="input-label-group">
          <label for="weight"  class="input-label"> Weight (kg)* </label>
          <input
            type="number"
            id="weight"
            placeholder="Weight"
            formControlName="weight"
            [class.invalid-input]="additionalDetailsForm.controls.weight.invalid && additionalDetailsForm.controls.weight.touched "
            class="my-text-input"
          />
          <p *ngIf="additionalDetailsForm.controls.weight.hasError('smaller')" class='error-input'>
            Weight can't be samller than 3 kg
          </p>
          <p *ngIf="additionalDetailsForm.controls.weight.hasError('bigger')" class='error-input'>
            Weight can't be greater than 200 kg
          </p>
        </div>
        <div class="input-label-group" >
          <label for="height"  class="input-label"> Height (cm)* </label>
          <input
            type="number"
            id="height"
            placeholder="Height"
            formControlName="height" class="my-text-input"
            [class.invalid-input]="additionalDetailsForm.controls.height.invalid && additionalDetailsForm.controls.height.touched "
          />
          <p *ngIf="additionalDetailsForm.controls.height.hasError('min')" class='error-input'>
            Height can't be samller than 1 cm
          </p>
          <p *ngIf="additionalDetailsForm.controls.height.hasError('max')" class='error-input'>
            Height can't be greater than 250 cm
          </p>
        </div>
        <div class="input-label-group" >
          <label for="yearOfBirth" class="input-label"> Year of birth* </label>
          <input
            type="number"
            min="1920"
            placeholder="Year of birth"
            id="yearOfBirth" class="my-text-input"
            formControlName="yearOfBirth"
            [class.invalid-input]="additionalDetailsForm.controls.yearOfBirth.invalid && additionalDetailsForm.controls.yearOfBirth.touched "
          />
          <p *ngIf="additionalDetailsForm.controls.yearOfBirth.hasError('min')" class='error-input'>
            Year of birth can't be samller than 1920
          </p>
          <p *ngIf="additionalDetailsForm.controls.yearOfBirth.hasError('max')" class='error-input'>
            Year of birth can't be greater than 2020
          </p>
          <p *ngIf="additionalDetailsForm.controls.yearOfBirth.hasError('pattern')" class='error-input'>
            Year of birth cannot contain a decimal point
          </p>
        </div>
        <div *ngIf='additionalDetailsForm'>
          <p *ngIf="additionalDetailsForm.controls.weight.hasError('required') 
              || additionalDetailsForm.controls.height.hasError('required')
              || additionalDetailsForm.controls.yearOfBirth.hasError('required')
              " class='error-form'> 
              *All fields are required
            </p>
        </div>
        <div class="btn-container">
          <button
            id="additionalDetails"
            class="my-button my-button-primary"
            (click)="submitAdditionalDetails()"
            [disabled]="!additionalDetailsForm.valid"
          >
            {{ "AccountInfo.Submit" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div
    class="confirm"
    *ngIf="confirm"
    [ngClass]="{
      dark: darkTheme,
      'confirm-light': !darkTheme
    }"
  >
    <mat-icon>check_circle_outline</mat-icon>
    <h2>{{ "AccountInfo.Succes" | translate }}</h2>
  </div>
</div>
