<app-navbar (curentTheme)="receive($event)"></app-navbar>
<div class="user-details" [ngClass]="{ 'elevated-dark': darkTheme }">
  <div class="user-name">
    <div class="user-img">
      <p class="user-logo">{{ userLogo }}</p>
    </div>
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <ul class='menu'>
      <li
        [ngClass]="{ active: detailsOption == 1 }"
        (click)="detailsOption = 1"
      >
        {{ "AccountInfo.Account Info" | translate }}
      </li>
      <li
        [ngClass]="{ active: detailsOption == 2 }"
        (click)="detailsOption = 2"
      >
        {{ "AccountInfo.Address" | translate }}
      </li>
      <li
        [ngClass]="{ active: detailsOption == 5 }"
        (click)="detailsOption = 5"
      >
        {{ "Additional details" | translate }}
      </li>
      <li
        [ngClass]="{ active: detailsOption == 3 || detailsOption == 4 }"
        (click)="detailsOption = 3"
      >
        {{ "AccountInfo.My Orders" | translate }}
      </li>
     
    </ul>
  </div>
  <div class="user-information" *ngIf="detailsOption == 1">
    <div class="user-account-info">
      <h2>
        {{ "AccountInfo.Account Info" | translate }}
      </h2>
      <form [formGroup]="accountForm">
        <div class="input-label-group">
          <label> *{{ "AccountInfo.First Name" | translate }}: </label>
          <input
            type="text"
            formControlName='firstName'
            [class.invalid]="accountForm.controls.firstName.invalid && accountForm.controls.firstName.touched"
          />
        </div>
        <div class="input-label-group">
          <label> *{{ "AccountInfo.Last Name" | translate }}:</label>
          <input
            type="text"
            formControlName="lastName"
            [class.invalid]="accountForm.controls.lastName.invalid && accountForm.controls.lastName.touched"
          />
        </div>
        <div class="input-label-group">
          <label>*{{ "AccountInfo.Username" | translate }}:</label>
          <input
            type="text"
            formControlName="username"
            (keyup)='checkUsername()'
            [class.invalid]="accountForm.controls.username.invalid && accountForm.controls.username.touched || usernameExists"
          />
          <p *ngIf="usernameExists" class='error'> 
            Username taken 
          </p>
        </div>
        <div class="input-label-group">
          <label for="phone"> *{{ "AccountInfo.Phone Number" | translate }}: </label>
          <input
            type="tel"
            formControlName="telephone"
            [class.invalid]="accountForm.controls.telephone.invalid && accountForm.controls.telephone.touched "
          />
          <p *ngIf="accountForm.controls.telephone.hasError('minlength')" class='error'> 
             Telephone number apears to be too short 
          </p>
        </div>
        <div *ngIf="accountForm">
          <p *ngIf="accountForm.controls.telephone.hasError('required') 
            || accountForm.controls.firstName.hasError('required')
            || accountForm.controls.lastName.hasError('required')
            || accountForm.controls.username.hasError('required')
            " class='error'> 
            *All fields are required
          </p>
        </div>
        <div class="btn-container">
          <button
            class="submit-btn"
            [disabled]="!accountForm.valid || usernameExists"
            (click)="submit(accountForm)"
          >
            {{ "AccountInfo.Submit" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="user-information" *ngIf="detailsOption == 2">
    <div class="user-account-info">
      <h2>
        Address
      </h2>
      <form [formGroup]='addressForm'>
        <div class="input-label-group">
          <label for="address"> *{{ "AccountInfo.Address" | translate }}: </label>
          <input
            type="text"
            formControlName="address"
            [class.invalid]="addressForm.controls.address.invalid && addressForm.controls.address.dirty "
          />
        </div>
        <div class="input-label-group">
          <label for="city"> *{{ "AccountInfo.City" | translate }}: </label>
          <input
            type="text"
            formControlName="city"
            [class.invalid]="addressForm.controls.city.invalid && addressForm.controls.city.touched "
          />
        </div>
        <div class="input-label-group">
          <label for="county"> *{{ "AccountInfo.County" | translate }}: </label>
          <input
            type="text"
            formControlName="county"
            [class.invalid]="addressForm.controls.county.invalid && addressForm.controls.county.touched "
          /><br />
        </div>
        <div class="input-label-group">
          <label for="postalCode"> *{{ "AccountInfo.Postal Code" | translate }}: </label>
          <input
            type="text"
            formControlName="postalCode"
            [class.invalid]="addressForm.controls.postalCode.invalid && addressForm.controls.postalCode.touched "
          />
        </div>
        <div *ngIf='addressForm'>
          <p *ngIf="addressForm.controls.address.hasError('required') 
              || addressForm.controls.city.hasError('required')
              || addressForm.controls.county.hasError('required')
              || addressForm.controls.postalCode.hasError('required')
              " class='error'> 
              *All fields are required
            </p>
        </div>
        <div class="btn-container">
          <button
            class='submit-btn'
            (click)="submit(addressForm)"
            [disabled]="!addressForm.valid"
          >
            {{ "AccountInfo.Submit" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="detailsOption === 3" class="details-address">
    <app-my-orders
      (sectionEvent)="receiveSectionChangeFromMyOrder($event)"
    ></app-my-orders>
  </div>
  <div *ngIf="detailsOption == 4">
    <app-order-item
      [order]="order"
      (sectionEvent)="receiveSectionChangeFromOrderItem($event)"
    ></app-order-item>
  </div>
  <div class="user-information" *ngIf="detailsOption == 5">
    <div class="user-account-info">
      <h2>
        Additional details
      </h2>
      <form [formGroup]='additionalDetailsForm'>
        <div class="input-label-group" *ngIf='metric'>
          <label for="weight"> *Weight (kg): </label>
          <input
            type="number"
            formControlName="weight"
            [class.invalid]="additionalDetailsForm.controls.weight.invalid && additionalDetailsForm.controls.weight.touched "
          />
          <p *ngIf="additionalDetailsForm.controls.weight.hasError('min')" class='error'>
            Weight can't be samller than 3 kg
          </p>
          <p *ngIf="additionalDetailsForm.controls.weight.hasError('max')" class='error'>
            Weight can't be greater than 200 kg
          </p>
        </div>
        <div class="input-label-group" *ngIf='metric'>
          <label for="height"> *Height (cm): </label>
          <input
            type="number"
            formControlName="height"
            [class.invalid]="additionalDetailsForm.controls.height.invalid && additionalDetailsForm.controls.height.touched "
          />
          <p *ngIf="additionalDetailsForm.controls.height.hasError('min')" class='error'>
            Height can't be samller than 1 cm
          </p>
          <p *ngIf="additionalDetailsForm.controls.height.hasError('max')" class='error'>
            Height can't be greater than 250 cm
          </p>
        </div>
        <div class="input-label-group" >
          <label for="yearOfBirth"> *Year of birth: </label>
          <input
            type="number"
            min="1920"
            formControlName="yearOfBirth"
            [class.invalid]="additionalDetailsForm.controls.yearOfBirth.invalid && additionalDetailsForm.controls.yearOfBirth.touched "
          />
          <p *ngIf="additionalDetailsForm.controls.yearOfBirth.hasError('min')" class='error'>
            Year of birth can't be samller than 1920
          </p>
          <p *ngIf="additionalDetailsForm.controls.yearOfBirth.hasError('max')" class='error'>
            Year of birth can't be greater than 2020
          </p>
          <p *ngIf="additionalDetailsForm.controls.yearOfBirth.hasError('pattern')" class='error'>
            Year of birth cannot contain a decimal point
          </p>
        </div>
        <div *ngIf='additionalDetailsForm'>
          <p *ngIf="additionalDetailsForm.controls.weight.hasError('required') 
              || additionalDetailsForm.controls.height.hasError('required')
              || additionalDetailsForm.controls.yearOfBirth.hasError('required')
              " class='error'> 
              *All fields are required
            </p>
        </div>
        <div class="btn-container">
          <button
            id="additionalDetails"
            class="submit-btn"
            (click)="submitAdditionalDetails()"
            [disabled]="!additionalDetailsForm.valid"
          >
            {{ "AccountInfo.Submit" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div
    class="confirm"
    *ngIf="confirm"
    [ngClass]="{
      dark: darkTheme,
      'confirm-light': !darkTheme
    }"
  >
    <mat-icon>check_circle_outline</mat-icon>
    <h2>{{ "AccountInfo.Succes" | translate }}</h2>
  </div>
</div>
