.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #eceff1;
}
.container{
    margin-top: 0px;
    margin: 0 auto;
}
h1{
    display: flex;
    flex-direction: row;
}
h1:before,
h1:after {
    content: " ";
    flex: 1 1;
    border-bottom: 2px solid #4cb5cf;
    margin: auto 1rem;
  }
