<div
  class="container mat-elevation-z2"
  [ngClass]="{
    'elevated-dark': darkTheme
  }"
>
  <img src="../../../assets/eStore.png" alt="logo" routerLink="/" />
  <h2>{{ "New password.New password" | translate }}</h2>
  <div>
    <p>{{ "New password.Insert new password" | translate }}</p>
    <form class="form" [formGroup]="form">
      <div class="form-group inputs">
        <div *ngIf="formControls.newPassword.errors">
          <div *ngIf="formControls.newPassword.errors.required">
            {{ "New password.Password Required" | translate }}
          </div>
        </div>
        <input
          [type]="hide ? 'password' : 'text'"
          formControlName="newPassword"
          placeholder="*{{ 'New password.New password' | translate }}"
          title="Password must contain: one uppercase letter, one number,
           one special character and be at lest 8 characters long."
          [ngClass]="{ dark: darkTheme }"
        />
        <mat-icon (click)="hide = !hide">{{
          hide ? "visibility_off" : "visibility"
        }}</mat-icon>
      </div>
      <span class="spacer"></span>
      <div
        *ngIf="
          formControls.newPassword.errors &&
          formControls.newPassword.errors.pattern
        "
        style="color: #ff0000"
      >
        {{ "New password.PasswordLength" | translate }} <br />
        {{ "New password.Case" | translate }}<br />
        {{ "New password.Number" | translate }}
      </div>
      <div class="form-group inputs">
        <input
          [type]="hide ? 'password' : 'text'"
          formControlName="repeatPassword"
          placeholder="*{{ 'New password.Repeat password' | translate }}"
          title="Password must contain: one uppercase letter, one number,
           one special character and be at lest 8 characters long."
          [ngClass]="{ dark: darkTheme }"
        />
      </div>
      <span class="spacer"></span>
      <div *ngIf="!passwordMatch">
        {{ "New password.Password doesn't match" | translate }}
      </div>
      <p>
        <span style="color: #ff0000">*</span
        >{{ "New password.Fields are mandatory" | translate }}
      </p>
      <div class="form-group">
        <button class="btn btn-primary" (click)="submitNewPassword()">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          {{ "New password.Submit" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
<div
  class="confirm"
  [ngClass]="{ dark: darkTheme, 'confirm-light': !darkTheme }"
  *ngIf="confirm == true"
>
  <mat-icon>check_circle_outline</mat-icon>
  <h3>{{ "New password.Success" | translate }}</h3>
  <h2>{{ "New password.Redirect" | translate }}</h2>
</div>
