.modal {
  text-align: center;
  @media only screen and (max-width: 992px) {
    h1 {
      font: 400 18px/32px Roboto, "Helvetica Neue", sans-serif;
    }
  }
  h2 {
    color: #634fbd;
  }
  .product-modal {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    a {
      text-decoration: none;
      font-size: 15px;
      cursor: pointer;
      margin: 10px;
      color: black;
      font-weight: 500;
      height: 20px;
      padding: 5px;
    }
    #continue {
      background-color: #5fd4d2;
    }
    #checkout-cart {
      background-color: #634fbd;
    }
    #continue,
    #checkout-cart {
      width: 40%;
      min-height: fit-content;
      min-width: 11rem;
    }

    @media only screen and (max-width: 992px) {
      display: grid;
      margin-top: 0;
      justify-items: center;
      h1 {
        font: 400 18px/32px Roboto, "Helvetica Neue", sans-serif;
      }
      #continue {
        grid-row-start: 1;
      }
      #checkout-cart {
        grid-row-start: 2;
      }
      #product {
        grid-row-start: 3;
        margin: auto;
      }
    }
  }
}
