@import "dark-theme";
@import "./components.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  font-size: $font-size;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button:focus {
  outline: 1px solid #ff00;
}
.moon-sun {
  fill: #ffd700;
}
.moon-sun-dark {
  fill: #000000;
}
.dark {
  background-color: #3d3c3c;
  color: #0059ff;
}
.elevated-dark {
  background-color: #130e0e;
  color: #ffffff;
}
.colorForDark {
  color: #0059ff;
}
.custom-modalbox .mat-dialog-container {
  background-color: #3d3c3c;
  @include mat-elevation(5);
  padding: 15px 15px 24px;
  border-radius: 8px;
}
