// $gradient: linear-gradient(to right, #5fd4d2, #634fbd 40%);

$primary:	#634fbd;	
$success:	#03c04c;	
$info:	#4cb5cf;	
$warning:	#f0ad4e;	
$danger:	#d9534f;	
$faded:	#eceff1;
$social-blue: #1877f2;;