<span (click)="changeSection3()" class="active">{{
  "OrderItem.My orders" | translate
}}</span
><span class="inactive">{{ "OrderItem.Order details" | translate }}</span>
<h1>{{ "OrderItem.Order nb" | translate }} {{ order.id }}</h1>

<div *ngFor="let product of products" class="product line">
  <div><img src="{{ product.image }}" alt="" class="product-image" /></div>
  <div class="product-name">
    <h2>
      <a [routerLink]="['/products/', product.id]">{{
        product.name.substring(0, 50) | titlecase
      }}</a>
    </h2>
    <star-rating
      [value]="product.rating"
      [totalstars]="5"
      checkedcolor="#ffd700"
      uncheckedcolor="#dcdcdc"
      size="18px"
      [readonly]="true"
    ></star-rating>
  </div>
  <div class="product-wraper">
    <div class="product-data">
      <p>{{ "OrderItem.Quantity" | translate }}</p>
      <h2>{{ product.qty }}</h2>
    </div>
    <div class="product-data">
      <p>{{ "OrderItem.Price" | translate }}</p>
      <h2>{{ product.price }} lei</h2>
    </div>
    <div class="product-data">
      <p>{{ "OrderItem.Value" | translate }}</p>
      <h2>{{ (product.price * product.qty).toFixed(2) }} lei</h2>
    </div>
  </div>
</div>
<h2 class="total">{{ "OrderItem.Total" | translate }}{{ order.orderValue }}</h2>
